/* Start of General Tags !!!!!!!!!!!!!!!!!!!!!!*/
body {
    color: #006EB6;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    width: 100%;
}




p {
    font-size: 20px;
}

a {
    color: #006EB6;
}

ul {
    list-style: none;
}

.centre {
    text-align: center;
}

a {
    text-decoration: none;
}

/* End of General Tags !!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Header Tags !!!!!!!!!!!!!!!!!!!!!!!*/
/* Stops the bit at the top of header being transparent */
header {

    padding-top: 10px;
    position: fixed;
    width: 100%;
    background-color: white;
}


.topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: #006EB6 solid 1px;
    border-bottom: #006EB6 solid 1px;
}

.topBar > div > ul {
    display: flex;
    align-items: center;
}

.topBar li {
    padding: 0 20px;
}


/* End of Header Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/



/* Start of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Start of Block 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Grid for Block 1*/
.block1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Grid Column 1 */
/* Block 1 Image */
.block1 div img {
    text-align: center;
    width: 100%;
    padding-top: 70px;
}


/* Grid Column 2 */
/* Heading */
section.block1 h1 {
    padding: 70px 50px;
    font-family: serif;
    font-weight: 600;
    font-size: 52px;
}


/* Block 1 buttons Start */
div.topButton a {
    border: #006EB6 solid 1px;
    padding: 19px 74px;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 0px;

}


.buttonBlock1:hover {
    background-color: #006EB6;
    color: white;
    transition: 500ms;
}


/* Block 1 buttons End */


/* Block 1.5 Start */
.block1Nav {
    border-top: #006EB6 solid 1px;
    border-bottom: #006EB6 solid 1px;
}

nav.block1Nav ul {
    display: flex;
    
}

/* Block 1.5 Ends */


/* End of Block 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Block 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.bird1 {
    width: 25%;
}


.block2p1 {
    width: 50%;
    font-size: 20px;
    text-align: center;
}






/* End of Block 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




/* Start of Block 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







/* Start of Block 4 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 4 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







/* Start of Block 5 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 5 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/





/* Start of Block 6 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 6 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* Start of Block 7 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 7 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* Start of Block 8 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 8 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* End of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer a {
    color: white;
}

footer div, footer div nav {
    background-color: #006EB6;
    color: white;
    border: white solid 2px;
}

/* End of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/