/* Start of General Tags !!!!!!!!!!!!!!!!!!!!!!*/
body {
    color: #006EB6;
    margin: 0px;
}



p {
    font-size: 20px;
}

/* End of General Tags !!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Header Tags !!!!!!!!!!!!!!!!!!!!!!!*/



/* End of Header Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/



/* Start of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/

.block1 img {
    width: 50%;
}




/* End of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer div, footer div nav {
    background-color: #006EB6;
    color: white;
    border: white solid 2px;
}

/* End of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/