/* Start of General Tags !!!!!!!!!!!!!!!!!!!!!!*/
body {
    color: #006EB6;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



p {
    font-size: 20px;
}

a {
    color: #006EB6;
}

ul {
    list-style: none;
}

.centre {
    text-align: center;
}

/* End of General Tags !!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Header Tags !!!!!!!!!!!!!!!!!!!!!!!*/



/* End of Header Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/



/* Start of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Start of Block 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
section.block1 h1 {
    font-family: serif;
    font-weight: 600;
    font-size: 52px;
    width: 50%;
}

.block1 img {
    width: 50%;
}

div.topButton a {
    border: #006EB6 solid 1px;
    padding: 19px 74px;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 0px;

}

.picTop1 {
    visibility: visible;
}


.button1:hover {
    background-color: #006EB6;
    color: white;
    transition: 500ms;
}

.button2:hover {
    background-color: #006EB6;
    color: white;
    transition: 500ms;
}


/* End of Block 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Block 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.bird1 {
    width: 25%;
}


.block2p1 {
    width: 50%;
    font-size: 20px;
    text-align: center;
}






/* End of Block 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




/* Start of Block 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







/* Start of Block 4 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 4 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







/* Start of Block 5 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 5 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/





/* Start of Block 6 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 6 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* Start of Block 7 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 7 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* Start of Block 8 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 8 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* End of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer a {
    color: white;
}

footer div, footer div nav {
    background-color: #006EB6;
    color: white;
    border: white solid 2px;
}

/* End of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/