/* header section */
header svg , header {
    text-align: left;
    fill: white;
}


/* nav section */
nav {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 28px;
}


/* main section */
svg.secondSVG {
    text-align: center;
    fill: white;
    width: 100%;
}

h1, h2, h3 {
    font-family: serif;
}

h1 {
    font-size: 58px;
}

body {
    margin: 0;
    background-color: #BF5322;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

a {
    color: white;
}

ul {
    list-style: none;
}

p {
    font-size: 20px;
}