/* Start of General Tags !!!!!!!!!!!!!!!!!!!!!!*/
body {
    color: #006EB6;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    width: 100%;
}




p {
    font-size: 20px;
}

a {
    color: #006EB6;
}

ul {
    list-style: none;
}

.centre {
    text-align: center;
}

a {
    text-decoration: none;
}

/* End of General Tags !!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Header Tags !!!!!!!!!!!!!!!!!!!!!!!*/
/* Stops the bit at the top of header being transparent */
header {

    padding-top: 10px;
    position: fixed;
    width: 100%;
    background-color: white;
}


.topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: #006EB6 solid 1px;
    border-bottom: #006EB6 solid 1px;
}

.topBar > div > ul {
    display: flex;
    align-items: center;
}

.topBar li {
    padding: 0 20px;
}


/* End of Header Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/



/* Start of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Start of Block 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Grid for Block 1*/
.block1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Grid Column 1 */
/* Block 1 both columns*/
.block1FirstColumn, .block1secondColumn, .block1RightSideText.topButton {
    display: flex;
}


/* Grid Column 2 */

.block1secondColumn {
    padding: 0px 70px;
    flex-direction: column;
    justify-content: center;
}

/* Heading block 1*/
section.block1 h1 {
    font-family: serif;
    font-weight: 600;
    font-size: 53px;
    font-style: normal;
    line-height: 62px;
}


/* Block 1 buttons Start */
div.topButton a {
    border: #006EB6 solid 1px;
    padding: 19px 0px;
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}

/* Block 1 button 1 only */
.buttonBlock1.button1 {
    border-right: transparent;
}

/* Block 1 hover effects for top buttons */
.buttonBlock1:hover {
    background-color: #006EB6;
    color: white;
    transition: 500ms;
}


/* Block 1 buttons End */



/* End of Block 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Block 1.5 Start */
.block1Nav {
    border-top: #006EB6 solid 1px;
    border-bottom: #006EB6 solid 1px;

}

nav.block1Nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav.block1Nav ul li {
    padding: 0 14px;
}

/* Block 1.5 Ends */





/* Start of Block 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.block2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    align-items: center;
    justify-items: center;
}


.bird1 {
    width: 35%;
}

.block2 h2 {
    font-size: 50px;
    font-weight: 400px;

}

.block2 p {
    font-size: 20px;
    text-align: center;
}




/* End of Block 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




/* Start of Block 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/



.block3blocks {
    display: flex;
    justify-items: center;
    align-items: center;
}

.block3blocks div div div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.block3blocks img {
    width: 15%;
}

.block3MiddlePic img {
    border: #006EB6 solid 1px;
    width: 100%;
}

.block3 p {
    font-size: 16px;
    text-align: center;
}



.block3 h2 {
    border-top: #006EB6 solid 1px;
    border-bottom: #006EB6 solid 1px;
    font-size: 50px;
    text-align: center;
    padding: 80px;
}



/* End of Block 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







/* Start of Block 4 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 4 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







/* Start of Block 5 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 5 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/





/* Start of Block 6 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 6 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* Start of Block 7 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 7 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* Start of Block 8 !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* End of Block 8 !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/






/* End of Body Tags !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Start of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer a {
    color: white;
}

footer div, footer div nav {
    background-color: #006EB6;
    color: white;
    border: white solid 2px;
}

/* End of Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/